.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  /* opacity: 0; */
  /* transition: visibility 0s linear 0.3s, opacity 0.3s linear; */
  display: flex;
  margin: 0;
  padding: 0;
}
.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  width: 496px;
  height: 436px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 36px;
  padding-top: 28px;
  position: relative;
}

.modal__close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 22px;
  right: 30px;
  background-image: url(../../assets/modalClose.svg);
  border: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: CabinetGrotesk-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
}

.modal__form-title {
  font-family: CabinetGrotesk-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__form-input-title {
  margin-bottom: 8px;
  font-family: CabinetGrotesk-Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  line-height: 1.05;
  margin-bottom: 24px;
}
.modal__form-radio-title {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: CabinetGrotesk-Regular;
}
.modal__form-radio {
  margin-bottom: 8px;
  width: 50px;
  height: 20px;
}

.modal__form_submit-button {
  font-family: CabinetGrotesk-Regular;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 0;
  background-color: #0000004d;
}
