.switch {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: left 0.3s ease, background-color 0.3s ease;
}

.switch__slider-F {
  left: 2px;
}
.switch__slider-C {
  left: 26.5px;
}

.switch__temp-F {
  position: absolute;
  left: 11px;
  opacity: 0.5;
}

.switch__temp-C {
  position: absolute;
  left: 35px;
  opacity: 0.5;
  color: black;
}
.switch__active {
  color: white;
  opacity: 1;
}
