.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: CabinetGrotesk-Regular;
  font-weight: 700;
  font-size: 20px;
  
}
.header__switch-wrapper{
  display: flex;
  align-items: center;
  margin-left:500px;

}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  line-height: 24px;
  
}
.header__add-clothes-btn {
  margin-left: 20px;
  margin-right: 20px;
  font-family: CabinetGrotesk-Regular;
  font-weight: 700;
  font-size: 20px;
  border: none;
}

.header__link{
  text-decoration: none;
  color: black;
}
.header_user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__username {
  margin: 0;
}


@media screen and (max-width: 1150px) {
  .header__switch-wrapper{
    display: flex;
    align-items: center;
    margin-left:100px;
  
  }
}

@media screen and (max-width: 840px) {
  .header__switch-wrapper{
    display: flex;
    align-items: center;
    margin-left:30px;
  
  }
}